@use '../../Sass/_variables' as vars
@use '../../Sass/_mixins' as mxns

.app
    display: flex
    flex-direction: column
    position: relative
    margin-left: -20px !important
    margin: 0
    padding: 0
    width: 100vw
    background: var(--clr-back)

    @media (min-width: vars.$sm)
        width: 100%
        margin-left: 0 !important


.body
    display: block
    position: relative
    width: 100%
    height: auto
    margin: 0
    padding: 20px 10px

    @media (min-width: vars.$sm)
        padding: 40px 20px