@use '../../Sass/_variables' as vars

.StepOne

	&__sides
		display: grid
		grid-template-columns: repeat(2, 1fr)
		grid-gap: 20px


	&__sidesCalculator
		display: grid
		grid-template-columns: repeat(2, 1fr)
		grid-column: 1 / -1
		grid-column-gap: 10px
		grid-row-gap: 20px
		position: relative

		@media (min-width: vars.$md)
			grid-column: 1 / 2

		@media (min-width: vars.$lg)
			grid-column: 1 / -1

		@media (min-width: vars.$xxl)
			grid-column: 1 / 2


	&__sidesController
		display: grid
		align-content: start
		gap: 10px

		span
			display: block
			text-align: center


	&__sidesSketch
		grid-column: 1 / -1
		display: flex
		align-items: center
		justify-content: center
		position: relative
		width: 100%
		height: auto
		max-height: 100%
		aspect-ratio: 2 / 1
		background: radial-gradient( circle 1px at 2px 2px, var(--clr-load-end) 1px, transparent 0 ) 0 0 / 10px 10px

		@media (min-width: vars.$md)
			grid-column: 2 / -1

		@media (min-width: vars.$lg)
			grid-column: 1 / -1

		@media (min-width: vars.$xxl)
			grid-column: 2 / -1


	&__sidesTotal
		grid-column: 1 / -1
		position: relative
		margin: 0
		color: var(--clr-accent)
		font-size: 14px
		font-style: normal
		font-weight: 400
		line-height: 142.857%

		@media (min-width: vars.$lg)
			margin-top: 20px